<table class="table table-hover">
  <% book.post_comments.each do |post_comment| %>
    <tr>
      <td>
        <%= attachment_image_tag post_comment.user, :profile_image, :fill, 60, 60, format:'jpeg',fallback:"no_image.jpg",size:"50x50"%>
      </td>
      <td><%= post_comment.comment %></td>
      <% if post_comment.user == current_user %>
        <td>
          <%= link_to "削除", book_post_comment_path(post_comment.book, post_comment), method: :delete, remote: true, class: "btn btn-danger pull-right" %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>